*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

p{
    word-break: keep-all;
    white-space: normal;
}

main{
    padding: 35px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-image: url("images/sf.jpg");
    background-position: 0% 70%;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.logo{
    color: #003262;
    -webkit-text-stroke: 0.05px #003262;
    -webkit-text-fill-color: #fdb515;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

nav{
    padding: 5px 15%;
    justify-content: space-around;
    align-items: center;
    background-color: #003262;
    font-family: 'Poppins', sans-serif;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: #fdb515;
    text-decoration: none;
    text-align: center;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
}

about{
    background-color: #fdf9f8;
    padding: 5px 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.about-member{
    display: flex;
    padding: 0px 15px;
    justify-content: space-around;
    align-items: center;
}

footer{
    /* background-color: #323130; */
    background-color: #003262;
    padding: 30px 15% 50px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#map {
    margin: 75px 0px 50px;
    display: flex 1 1 auto;
    justify-content: column;
    flex-direction: row;
    align-items: center;
    /* height: 600px; */
    padding-top: 45%;
    width: 65%;
}

#map_com {
    background-color: #fdf9f8;
    padding: 10px 15%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

#com_shell {
    /* width: 30%;
    padding-top: 41%;
    background-color: #003262;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    display: flex; */

    align-self: stretch;

    width: 30%;
    height: 70%;
    border-color: #003262;
    border-width: 2px;
    display: flex 1 1 30%;
    border-style: solid;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 75px 0px 50px;
}

#h-div {
    width: 5%;
    height: 10px;
    flex: 1 1 auto;
}