*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

p{
    word-break: keep-all;
    white-space: normal;
}

main{
    padding: 25px 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-image: url("sf.jpg");
    background-position: 0% 67%;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.logo{
    color: #003262;
    -webkit-text-stroke: 0.1px #003262;
    -webkit-text-fill-color: #fdb515;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

nav{
    padding: 5px 15%;
    justify-content: space-around;
    align-items: center;
    background-color: #003262;
    font-family: 'Poppins', sans-serif;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: #fdb515;
    text-decoration: none;
    text-align: center;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
}

